<!-- include header-->
<%- include ('include/_header')%>
<!-- /include header-->
    <div class = "centre">
        <b><h1> Welcome to the Groovy Reviews Website.</h1></b>
        <b><h2> Explore the cinematic universe with our movie review website,
             where passionate critiques and audience insights converge to
             guide your next film choice. Immerse yourself in a world of thoughtful analyses and
             diverse perspectives, making your movie-watching experience unforgettable..</h2></b>
        <img src="/img/61a3d59b15f6a560553190f2a4c420cb.jpg" class ="spider">
        <img src="/img/HD-wallpaper-dark-superhero-vertical-spider-man-portrait-display-spider-webs.jpg" class ="spiderr">
        <img src="/img/panther.jpg" class ="panther">
        <b><a href ="/login-user"><button type="submit"class="btnn" >Lets Go</button></b></a>
    </div>
    <div class ="footer">
        <b><p class ="foot">Ratan. All rights reserved. | GroovyReviews © 2024</p></p></b>
    </div>
<!-- include footer-->
<%- include ('include/_footer')%>
<!-- include footer-->